[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start="flask --app main --debug run"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
reset_db="bash ./docs/assets/reset_migrations.bash"
